:root{
    --fondo:#4faab6;
    --primario:#c676df;
    --fuente:#89dedd;
    --fuente-claro:#a900f7;

}
body{
    background-image: url(hj.jpg) ;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    background-size: auto;
    

}

.video{
    position: fixed;
    top: 50%; left: 50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%,-50%);
}

    
  
    


main{  
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    

}

.contenedor{
    width: 315px;
    height: 160px;
    background: s;
    border-radius: 12px;
    background-image: linear-gradient(
        150deg,
        red,
        blue,
        #ffd700);
    
    border: 60px;
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
    clip-path: circle(50% at top left);
    transition-property: clip-path;
    transition-duration: 2s;
    position: relative;
    z-index: 2;
    
    

   
}

.contenedor a {
    color: black;
    font-size: 22px;
    text-decoration: none;
   
}

.contenedor:hover{
    box-shadow: 5px 5px 50px var(--fuente-claro);
    clip-path: circle(150% at top left);
  
}

.contenedor a img{
    width: 80%;
    border-radius: 45px;
    opacity: 1.00;
}

section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section img{
    width: 375px;
    border-radius: 8px;
}

h2{
    color: black;
}

form{
    color: black;
    font-size: 20px;
}

input{
    width: 100px;
    height: 50px;
    border: 1px solid var(--funte);
    border-radius: 8px;
    font-size: 20px;
    padding-left: 17px;
    margin: 5px;
}

#res-anualidades-vencidas{
    width: 120px;
    height: 50px;
    border: 1px solid var(--funte);
    border-radius: 8px;
    font-size: 20px;
    padding-left: 17px;
    margin: 5px 0 0 5px;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    background-color: var(--fuente);
    color: var(--primario);
}
#for-vr-amortizacion{
    width: 120px;
    height: 50px;
    border: 1px solid var(--funte);
    border-radius: 8px;
    font-size: 20px;
    padding-left: 17px;
    margin: 5px 0 0 5px;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    background-color: var(--fuente);
    color: var(--primario);
}
#for-vr-adelantada{
    width: 120px;
    height: 50px;
    border: 1px solid var(--funte);
    border-radius: 8px;
    font-size: 20px;
    padding-left: 17px;
    margin: 5px 0 0 5px;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    background-color: var(--fuente);
    color: var(--primario);
}
#res-anualidades-tiempo{
    width: 120px;
    height: 50px;
    border: 1px solid var(--funte);
    border-radius: 8px;
    font-size: 20px;
    padding-left: 17px;
    margin: 5px 0 0 5px;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    background-color: var(--fuente);
    color: var(--primario);
}
#res-anualidades-vencidasrenta{
    width: 120px;
    height: 50px;
    border: 1px solid var(--funte);
    border-radius: 8px;
    font-size: 20px;
    padding-left: 17px;
    margin: 5px 0 0 5px;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    background-color: var(--fuente);
    color: var(--primario);
}
#res-anualidades-tiempo{
    width: 120px;
    height: 50px;
    border: 1px solid var(--funte);
    border-radius: 8px;
    font-size: 20px;
    padding-left: 17px;
    margin: 5px 0 0 5px;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    background-color: var(--fuente);
    color: var(--primario);
}
#for-vr-actual{
    width: 120px;
    height: 50px;
    border: 1px solid var(--funte);
    border-radius: 8px;
    font-size: 20px;
    padding-left: 17px;
    margin: 5px 0 0 5px;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    background-color: var(--fuente);
    color: var(--primario);
}

input:focus{
    outline: 5px solid var(--primario);
    border-radius: 8px;   
}

.boton-regresar{
    display: block;
    width: 120px;
    height: 50px;
    background-color: var(--primario);
    border-radius: 8px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    color: var(--fondo);
    text-decoration: none;
}

.boton-regresar:hover{
    box-shadow: 5px 5px 50px var(--fuente-claro);

}